<%= form_for @cryptocurrency do |form|%>
  <div class="field">
      <%= form.label :symbol %><br />
      <%= form.text_field :symbol,class:"form-control" %>
  </div>
  <div class="field">
      <%= form.label :cost_per %><br />
      <%= form.text_field :cost_per,class:"form-control" %>
  </div>
  <div class="field">
      <%= form.label :amount_owned %><br />
      <%= form.text_field :amount_owned,class:"form-control" %>
  </div>
  <div class="actions">
      <%= form.submit "Create Crypto",class:"btn btn-danger" %>
  </div>
<%end%>